.banner {
  background: url("/public//images/ezgif.com-gif-maker.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 20px;
}
.banner h2 {
  font-family: "League Spartan", sans-serif;
}
figure img {
  /*border: 1px solid rgb(129, 125, 125);
  */ /*border-radius: 12px;
  */
  height: 233px;
  width: 433px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  figure img {
    height: 200px;
    width: 300px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
  .banner {
    height: 70vh;
  }
  .projects {
    margin-left: 17%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .projects {
    margin-left: 17%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/*  Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1030px) and (max-width: 1240px) {

}
